body {
  font-family: 'Jost', serif;
  box-sizing: border-box;
  cursor: pointer;
}
/* Шапка с навигацией */
.header {
  margin-bottom: 3rem;
  background-color: white;
  border-bottom: 2px double black;
}
.header-nav {
  padding: 0;
  display: block;
  margin: 1.3rem 0px;
  list-style: none;
}
.header li {
  display: inline-block;
}
.header a {
  display: block;
  padding: 0.3rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #74Ab63;
}
.header a:hover {
  color: #5c8e4d;
}
.header a:active {
  color: #92bd84;
}
.header-share {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  width: 150px;
  justify-content: space-between;
  margin-left: auto;
  transform: translateY(20px);
}
.header .socials {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  padding: 10px;
  background: url(../img/icons/socials.png) no-repeat;
}
.header .socials-ig {
  background-position: 101% -1%;
  background-size: 725%;
}
.header .socials-vk {
  background-position: 20% -1%;
  background-size: 725%;
}
.header .socials-wa {
  background-position: 20% 75%;
  background-size: 725%;
}
/* Обо мне*/
.content {
  margin-bottom: 4.3rem;
}
.content-description {
  display: block;
  margin: auto;
  height: auto;
}
.content-description h1 {
  margin-top: 0.6rem;
  margin-bottom: 1.25rem;
  padding: 0.3rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #5c8e4d;
}
.content-description p {
  font-size: 1.25rem;
}
.content-description .button {
  display: inline-block;
  margin-top: 1.5rem;
  text-decoration: none;
  border: 1px solid #74Ab63;
}
.content-description .button:hover {
  color: #5c8e4d;
}
.content-description .button:active {
  color: #92bd84;
}
.content-description .button a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  color: #74Ab63;
  font-weight: bold;
}
.content-photo img {
  display: block;
  width: auto;
  height: 500px;
  margin-left: auto;
  border-radius: 0.6rem;
  filter: grayscale(1);
}
.content-more {
  display: none;
  position: relative;
}
.content-more h3 {
  margin-top: 0.6rem;
  margin-bottom: 1.25rem;
  padding: 0.3rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #5c8e4d;
}
.content-more .content-photo img {
  margin: 0;
  margin-right: auto;
}
.content-more .close-btn {
  display: block;
  width: 7rem;
  margin-top: 1.5rem;
  text-decoration: none;
  border: 1px solid #74Ab63;
  text-align: center;
}
.content-more .close-btn a {
  display: block;
  padding: 0.6rem;
}
/* преимущества*/
.feature {
  margin-bottom: 4.3rem;
}
.feature-title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #74Ab63;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.feature-item {
  display: block;
  position: relative;
  margin: auto;
  margin-bottom: 2.5rem;
  height: 22rem;
  background-color: #333333;
}
.feature img {
  width: 100%;
  height: 350px;
  background-size: contain;
  filter: grayscale(1) brightness(20%);
}
.feature-content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.feature-content h4 {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-bottom: 1px solid white;
  font-weight: bold;
}
.feature-content p {
  font-size: 1rem;
  text-align: center;
}
.pricelists {
  margin-bottom: 4.3rem;
}
.pricelists-title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #74Ab63;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.pricelists-wrapper {
  display: flex;
  align-items: center;
}
.pricelists-wrapper .pricelist-item {
  display: block;
  min-height: 500px;
  padding: 1.25rem;
  border: 1px solid #5c8e4d;
  margin-right: 0.6rem;
}
.pricelists-wrapper .pricelist-item ul {
  margin: 0;
  margin-bottom: 25px;
}
.pricelists-wrapper .pricelist-item ul li {
  font-size: 1rem;
}
.pricelists-wrapper .pricelist-item-allinc {
  background-color: #eaf2e8;
  border: 2px solid #5c8e4d;
}
.pricelists-wrapper .pricelist-item-allinc h4 {
  font-size: 1.7rem;
}
.pricelists-wrapper h4 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: #74Ab63;
  font-weight: bold;
  text-align: center;
}
.pricelists-wrapper .btn {
  display: block;
  margin: auto;
  color: white;
  border-color: #74Ab63;
  background-color: #5c8e4d;
}
.portfolio {
  margin-bottom: 4.3rem;
}
.portfolio-title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #74Ab63;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.portfolio-photo {
  display: block;
  width: 100%;
  height: 23rem;
  margin: auto;
  background-color: black;
  margin-top: 1rem;
}
.question {
  margin-bottom: 4.3rem;
}
.question-title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #74Ab63;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.question .accordion-header {
  --bs-accordion-active-color: #5c8e4d;
  --bs-accordion-active-bg: #FFF8DC;
  --bs-accordion-btn-focus-border-color: #74Ab63;
}
.question .accordion-button {
  font-size: 1.25rem;
  font-weight: bold;
}
.cases {
  margin-bottom: 4.3rem;
}
.cases-title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #74Ab63;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.footer {
  background-color: black;
  color: white;
  padding: 0.3rem;
}
.footer-content {
  display: block;
  height: auto;
  padding: 0.6rem;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .content {
    margin-bottom: 4rem;
  }
  .content h1 {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 2.5rem;
  }
  .content p {
    font-size: 0.9rem;
  }
  .content-photo {
    padding: 0.3rem;
  }
  .content-photo img {
    height: 450px;
  }
  .content-more h3 {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 2.5rem;
  }
  .pricelist {
    margin-bottom: 4rem;
  }
  .pricelist-item {
    display: block;
    margin: auto;
    margin-bottom: 0.6rem;
    padding: 1.25rem;
    border: 1px solid #5c8e4d;
  }
  .pricelist h4 {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
  }
  .feature {
    margin-bottom: 4rem;
  }
  .feature-item {
    margin-bottom: 1rem;
    height: 220px;
  }
  .feature img {
    width: 105%;
    height: 220px;
  }
  .feature-content {
    width: 85%;
  }
  .feature-content h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
  }
  .feature-content p {
    font-size: 0.8rem;
  }
  .portfolio {
    margin-bottom: 4rem;
  }
  .portfolio-photo {
    width: 105%;
    height: 17rem;
    margin-top: 1rem;
  }
  .header a {
    font-size: 1.1rem;
  }
  .header-share {
    width: 130px;
    transform: translateY(40px);
  }
  .pricelists {
    margin-bottom: 4rem;
  }
  .pricelists-wrapper {
    display: block;
  }
  .pricelists-wrapper .pricelist-item {
    min-height: 500px;
    padding: 1rem;
    margin-right: 0.6rem;
  }
  .pricelists-wrapper .pricelist-item ul li {
    font-size: 1rem;
  }
  .pricelists-wrapper .pricelist-item h4 {
    font-size: 1.3rem;
  }
  .pricelists h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .header .socials {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    background: url(../img/icons/socials.png) no-repeat;
  }
  .header .socials-ig {
    background-position: 101% -1%;
    background-size: 725%;
  }
  .header .socials-vk {
    background-position: 20% -1%;
    background-size: 725%;
  }
  .header .socials-wa {
    background-position: 20% 75%;
    background-size: 725%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    margin-bottom: 3rem;
  }
  .header-nav {
    padding: 0;
    margin: 1.3rem 0px;
  }
  .header a {
    padding: 0.3rem;
    margin-right: 1.15rem;
    font-size: 1.1rem;
  }
  .header-share {
    width: 170px;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .header .socials {
    transform: translateY(-15px);
  }
  .pricelists {
    margin-bottom: 4rem;
  }
  .pricelists-wrapper {
    display: block;
  }
  .pricelists-wrapper .pricelist-item {
    min-height: 500px;
    padding: 1rem;
    margin-right: 0.6rem;
  }
  .pricelists-wrapper .pricelist-item ul li {
    font-size: 1rem;
  }
  .pricelists-wrapper .pricelist-item h4 {
    font-size: 1.3rem;
  }
  .pricelists h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .feature {
    margin-bottom: 4rem;
  }
  .feature-item {
    margin-bottom: 1rem;
    height: 180px;
  }
  .feature img {
    width: 105%;
    height: 180px;
  }
  .feature-content {
    width: 85%;
  }
  .feature-content h4 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    padding: 0.2rem;
  }
  .feature-content p {
    font-size: 0.6rem;
  }
  .portfolio {
    margin-bottom: 4rem;
  }
  .portfolio-photo {
    width: 105%;
    height: 14rem;
    margin-top: 1rem;
  }
  .content {
    margin-bottom: 4rem;
  }
  .content h1 {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 2rem;
  }
  .content p {
    font-size: 0.7rem;
  }
  .content-photo {
    padding: 0.3rem;
  }
  .content-photo img {
    height: 400px;
  }
  .content-more h3 {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.8rem;
  }
  .content-more-photo {
    padding: 0.3rem;
  }
}
