body{
margin: 0 auto;
}

.header{
    border: 3px solid black;
    background-color: black;
    padding: 5px;
    font-family: Arial, sans-serif;
    text-align: right;
}
nav {
    word-spacing: 15px;
}

nav a {
    color: white;
    word-spacing: 0px;
}

h1,
p {
    padding: 10px;
    margin: 10px auto;
}
